
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
@mixin generar-columnas($dimesiones){

    @for $i from 1 through 12{
        .col-#{$dimesiones}-#{$i}{
            flex: 0 0 calc(100%712 *#{$i});
            max-width: calc(100%/12*#{$i});
        }
    }
}