extends layout.pug 
block content 
    .row 
        .col-12.col-md-6.col-lg-4 
            .row 
                .col-10 
                    img(src="../img/lucky.jpeg", alt="")
                .col-2.align-self-end 
                    div 
                        p *
                    div 
                        p *
                    div 
                        p *
                    div 
                        p *
                    div 
                        p *
    .row 
        .col-12 
            p Nombre 
        .col-12 
            p djfsdkjfskdfjsldfj

