<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"  />
        <meta name="generator" content="Astro v5.13.2" />
        <title>Pricing example · Bootstrap v5.3</title>
        link(rel="stylesheet", href="../css/dist/mis_estilos.css")

    </head>

    <body> 
        div.container-fluid
            div.row
                div.col
                    
            div.row.mt-5.justify-content-center
                    .col-lg-9
                        
        <script src="../js/bootstrap.bundle.min.js" class="astro-vvvwv3sm" ></script>
    </body>
    

</html>