
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
}
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px
);

/*GENERADOR BASE*/
@mixin generar-columnas($var:""){
    @for $i from 1 through 12{
        .col#{$var}-#{$i}{
            flex:0 0 calc(100%/12 * #{$i});
            max-width: calc(100%/12 *#{$i});
        }
    }
}
@include generar-columnas();//para movil xs por defecto como en boostrap primero

/*movil,table y escritorio*/

@each $nombre,$valor in $breakpoints{
    @media(min-width:#{$valor}){
        @include generar-columnas("-#{$nombre}");
    }
}

/*


flex: 0 0 calc(100% / 12 * X);
Esa propiedad equivale a escribir:
flex-grow: 0; QUE NO CREZCA AUNQUE HAYA ESPACIO
flex-shrink: 0; QUE NO SE HAGA MAS PEQUEÑO AUQNUE HAYA ESPACIO
flex-basis: calc(100% / 12 * X); TAMAÑO QUE VA OCUPAR



*/

//Opcional: utilidades para offset (ejemplo para .offset-md-by-3) 

    //@for $i from 1 through 11 {
    //.offset-#{$i} { margin-left: calc(100% / 12 * #{$i}); }
    //@each $name, $px in $breakpoints {
        //@media (min-width: #{$px}) {
        //.offset-#{$name}-by-#{$i} { margin-left: calc(100% / 12 * #{$i}); }
        //}
    //}
    //} 


